In [3]:
from haversine import haversine, Unit
import pandas as pd
import h3 # 기본 출력으로 h3.api.basic_str 와 동일하며 str 과 list/set 출력
import h3.api.basic_int as h3_int # int와 list/set 출력
import h3.api.numpy_int as h3_np # uint64 와 ndarray 출력
import h3.api.memview_int as h3_mv # uint64 와 memoryview(colletions) 출력
import numpy as np
from tqdm.auto import tqdm
import pandas as pd
import multiprocessing as mp
from multiprocessing import Pool,Process
from numba import jit, prange
import os
import time
import h3
import parmap
from numba import njit, prange
from numba_progress import ProgressBar

In [19]:
df = pd.read_csv("art3_USA_CA000000000000")
for i in range(1, 10):
    df1=pd.read_csv('art3_USA_CA00000000000%d'%i)
    df=pd.concat([df,df1])

In [33]:
def rst(a):
    a=a.reset_index()
    a=a.drop('index', axis=1)
    return a

In [ ]:
df=rst(df)

In [29]:
lt=list(df['lat'])
ln=list(df['lon'])

In [36]:
f=[]
s=[]
for i in tqdm(range(len(lt))):
    f.append(h3.geo_to_h3(lt[i], ln[i], 5))
    s.append(h3.geo_to_h3(lt[i], ln[i], 6))

  0%|          | 0/12275918 [00:00<?, ?it/s]

In [39]:
f=pd.DataFrame(f)
s=pd.DataFrame(s)

In [41]:
df['h3(Lv5)']=f[0]
df['h3(Lv6)']=s[0]

In [42]:
df.to_csv('h3추가.csv', index=False)

,id_str,cdate,lat,lon,country_code,device,place_flag,h3(Lv5),h3(Lv6)
0,1085377164533555205,2019-01-16 03:24:16,33.912835,-118.180066,US,Foursquare,GPS,8529a56ffffffff,8629a568fffffff
1,1090686358040076290,2019-01-30 19:01:06,33.749964,-117.910016,US,Foursquare,GPS,8529a0b7fffffff,8629a0b77ffffff
2,1094443879162626049,2019-02-10 03:52:09,36.033376,-114.957620,US,Foursquare,GPS,8529868ffffffff,8629868d7ffffff
3,1121142672767561733,2019-04-24 20:03:37,34.067156,-118.270515,US,Foursquare,GPS,8529a1d7fffffff,8629a1d67ffffff
4,1094421720725897217,2019-02-10 02:24:06,34.067597,-118.168503,US,Foursquare,GPS,8529a1d3fffffff,8629a1d0fffffff
...,...,...,...,...,...,...,...,...,...
12275913,1098340369643667456,2019-02-20 21:55:24,37.621299,-122.436779,US,Twitter for Android,Cell,85283093fffffff,86283092fffffff
12275914,1102059812047806465,2019-03-03 04:15:09,33.935822,-117.397616,US,Twitter for Android,Cell,8529a017fffffff,8629a015fffffff
12275915,1100951858703523841,2019-02-28 02:52:32,33.809171,-118.156711,US,Twitter for Android,Cell,8529a56bfffffff,8629a56a7ffffff
12275916,1085896456156807169,2019-01-17 13:47:44,33.966404,-118.242227,US,Twitter for Android,Cell,8529a56ffffffff,8629a56dfffffff
12275917,1104456074755694592,2019-03-09 18:57:02,37.378397,-122.023841,US,Twitter for Android,Cell,85283473fffffff,86283470fffffff

In [93]:
q2=q2.rename(columns={0:'Lat', 1: 'Lon'})